<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="VideoFritter 0.8" Language="1033" Version="1.0.0.0" Manufacturer="Gabor Posz" UpgradeCode="A7EEABAE-D876-471E-A73E-A531063D5D9E">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1"/>
    <Property Id="INSTALLSTARTMENUSHORTCUT" Value="1"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="VideoFritter" >
          <Directory Id="ffmpegDirectory" Name="ffmpeg">
            <Component Id='ffmpegExecutable' Guid='E05FBF81-1B85-4FD3-8D05-07E8D7390558'>
              <File Id="ffmpeg" Name="ffmpeg.exe" DiskId='1' Source='..\publish\ffmpeg\ffmpeg.exe' />
            </Component>
          </Directory>
          <Component Id='MainExecutable' Guid='9220C4E3-E528-4DC9-BCCB-5F64D21BC91B'>
            <File Id='VideoFritterEXE' Name='VideoFritter.exe' DiskId='1' Source='..\publish\VideoFritter.exe' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Video Fritter">
          <Component Id="ProgramMenuDir" Guid="23E1ACE5-95D7-4B51-930C-103EC48387AD">
            <Condition>INSTALLSTARTMENUSHORTCUT</Condition>
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Name='StartMenuShortcut' Type='string' Value='[INSTALLSTARTMENUSHORTCUT]' KeyPath='yes' />
            <Shortcut Id="startmenuVideoFritter" Directory="ProgramMenuDir"
                      Name="Video Fritter" WorkingDirectory='INSTALLFOLDER'
                      Icon="VideoFritter.exe" IconIndex="0" 
                      Target="[#VideoFritterEXE]"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" >
        <Component Id="DesktopShortcut" Guid="3EA8EC54-97AF-48E2-A49E-66BF713B6574">
          <Condition>INSTALLDESKTOPSHORTCUT</Condition>
          <CreateFolder/>
          <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Name='DesktopShortcut' Type='string' Value='[INSTALLDESKTOPSHORTCUT]' KeyPath='yes'/>
          <Shortcut Id="desktopVideoFritter" Directory="DesktopFolder"
                    Name="Video Fritter" WorkingDirectory='INSTALLFOLDER'
                    Icon="VideoFritter.exe" IconIndex="0" 
                    Target="[#VideoFritterEXE]" />
        </Component>
      </Directory>

    </Directory>


    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='ffmpegExecutable' />
      <ComponentRef Id='ProgramMenuDir' />
      <ComponentRef Id='DesktopShortcut' />
    </Feature>

    <UI Id="MyWixUI_InstallDir">
      <UIRef Id="WixUI_InstallDir" />

      <DialogRef Id="ShortcutSelectorDlg" />

      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ShortcutSelectorDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ShortcutSelectorDlg" Order="1">NOT Installed</Publish>
    </UI>

    <UIRef Id="WixUI_ErrorProgressText" />



    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Icon Id="VideoFritter.exe" SourceFile="..\publish\VideoFritter.exe" />

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

  </Product>
</Wix>
